.profile_content {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	overflow: hidden;
	padding: 0 var(--paddingForCoverAndDetailsRight) 0 var(--paddingForCoverAndDetailsRight);
}

/* side_bar_left */
.side_bar_left {
	/* width: 35%; */
	margin-bottom: var(--marginBetweenProfileContainers);
	overflow: hidden;
}

/* content */
.content {
	/* width: 50%; */
	flex: 1;
	/* background: skyblue; */
	/* margin: 0 var(--marginBetweenProfileContainers) var(--marginBetweenProfileContainers) var(--marginBetweenProfileContainers); */
}

.navigation {
	/* background: white; */
	border-bottom: 1px solid #dbdbdb;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: var(--marginBetweenProfileContainers);
	transition: border-top 0.5s;
}

.item {
	color: #8e8e8e;
	font-size: 18px;
	text-decoration: none;
	display: flex;
	align-items: center;
	padding: 5px 5px;
	margin: 0 5%;
	transition: 0.5s;
}

.item_active {
	color: #262626;
	border-bottom: 1px solid #262626;
	transition: border-top 1s;
}

.icon {
	font-size: 14px;
	margin-right: 10px;
}

/* posts */
.posts {
	width: 100%;
	display: flex;
}

.wrapper_posts {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.post {
	height: 300px;
	width: 290px;
	max-width: 100%;
	max-height: 100%;
	display: flex;
	margin: 0 10px;
	cursor: pointer;
}

.post:hover {
	opacity: 0.8;
}

/* side_bar_right */
.side_bar_right {
	/* width: 25%; */
	background: white;
	margin-bottom: var(--marginBetweenProfileContainers);
}
