.profile_content {
	width: 100%;
	background: white;
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
	padding: 0 var(--paddingForCoverAndDetailsRight) 0 var(--paddingForCoverAndDetailsRight);
}

/* stories */
/* .stories {
	display: flex;
	flex-direction: column;
} */

/* title */
/* .stories_title {
	color: rgb(39, 39, 39);
	font-size: 20px;
	font-weight: 500;
} */

/* stories content */
/* .stories_content {
	overflow-x: auto;
	display: flex;
}

.stories_content::-webkit-scrollbar {
	display: none;
} */

/* side_bar_left */
.side_bar_left {
	width: 25%;
	background: steelblue;
}

/* posts */
.posts {
	width: 50%;
	background: skyblue;
}

/* title */
.posts_title {
	color: rgb(39, 39, 39);
	font-size: 20px;
	font-weight: 500;
}

/* side_bar_right */
.side_bar_right {
	width: 25%;
	background: thistle;
}
