.profile_content {
	width: 100%;
	box-sizing: border-box;
	display: flex;
	overflow: hidden;
	padding: 0 var(--paddingForCoverAndDetailsRight) 0 var(--paddingForCoverAndDetailsRight);
}

/* side_bar_left */
.side_bar_left {
	width: 25%;
	background: steelblue;
	margin-bottom: var(--marginBetweenProfileContainers);
}

/* about me container */
.aboutMe_container {
	width: 100%;
	color: rgb(39, 39, 39);
	background: white;
	font-size: 15px;
	box-sizing: border-box;
	padding: var(--paddingForContent);
}

.aboutMe {
}

/* content */
.content {
	width: 50%;
	/* background: skyblue; */
	margin: 0 var(--marginBetweenProfileContainers) var(--marginBetweenProfileContainers) var(--marginBetweenProfileContainers);
}

/* side_bar_right */
.side_bar_right {
	width: 25%;
	background: thistle;
	margin-bottom: var(--marginBetweenProfileContainers);
}
