.paper {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

.paper_bottom_navigation {
	height: var(--hBottomNavigation, 45px) !important;
	box-shadow: 0px -1px 10px rgb(209, 209, 209);
}

.paper_bottom_navigation a {
	color: rgb(128, 128, 128) !important;
	padding: 0 !important;
}

/* media */
@media (max-width: 539.98px) {
	.paper {
		display: block;
	}
}

@media (min-width: 540px) {
	.paper {
		display: none;
	}
}
