@import "../../sass/main.scss";

.paper {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.paper_bottom_navigation {
  height: $ht-bottom-navigation !important;
  box-shadow: 0px -1px 10px rgb(209, 209, 209);
}

.paper_bottom_navigation a {
  color: rgb(128, 128, 128) !important;
  padding: 0 !important;
}

/* media */
@include media-breakpoint-up("sm") {
  .paper {
    display: none;
  }
}

@include media-breakpoint-down("sm") {
  .paper {
    display: block;
  }
}
