/* toggle list (onClick) */
.toggleProfileList {
	/* min-width: 150px; */
	max-width: 300px;
	background: white;
	box-shadow: 0 1px 1px 0px black;
	border-radius: 0 0 5px 5px;
	position: absolute;
	top: 45px;
	right: 0;
	left: -50px;
	right: 0;
	transition: 0.5s;
	z-index: 1;
}

/* wrapper nav link */
.wrapper_nav_linkList {
	transition: 0.5s;
}

.wrapper_nav_linkList:hover {
	background: var(--bodyBackgroundOrColor);
	transition: 0.5s;
}

.wrapper_nav_linkList:last-child {
	border-top: 1px solid rgb(220, 220, 220);
	border-radius: 0 0 5px 5px;
}

.wrapper_nav_linkList:last-child > .nav_linkList_active {
	border-radius: 5px;
}

/* nav link */
.nav_linkList {
	padding: 10px;
}

.nav_linkList_active {
	/* background: var(--bodyBackgroundOrDarkColor); */
	transition: 0.5s;
}

/* icon */
.iconList {
	margin: 0 10px 0 0;
}
