@import "../../core/styles/main.scss";

.chat {
  width: 100%;
  background: $white;
  border: 1px solid $grey300;
  @include ds-position(unset, unset);
  flex: 1;
  @include position(relative);
  box-sizing: border-box;
  overflow: hidden;
}

/* dialogs content */
.dialogs {
  height: 100%;
  min-width: 35%;
  background: $white;
  border-right: 1px solid $grey300;
  @include ds-position(unset, unset, column);
}

/* messages contet */
.messages {
  height: 100%;
  width: 100%;
  @include ds-position(unset, unset, column);
}

/* search input */
.wrapper_input {
  @include position(relative);
  @include ds-position(center, center, unset);
  border-bottom: 1px solid $grey300;
  transition: 1s;
}

.wrapper_input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px $pd-content;
  transition: 1s;
}

.search_icon {
  color: $grey400;
  font-size: 13px;
  @include position(absolute, unset, 10px, unset unset);
  padding: 0 0 0 $pd-content;
}

/* media */
@include media-breakpoint-down("md") {
  .dialogs {
    min-width: 40%;
  }
}

@include media-breakpoint-down("sm") {
  .chat {
    border: none;
    // height: calc(100vh - ($ht-header + $ht-bottom-navigation + ($mg-from-header * 2)));
  }

  .dialogs {
    min-width: min-content;
  }
}

@include media-breakpoint-between("s", "sm") {
  .dialogs {
    flex: 1;
  }
}

@include media-breakpoint-down("s") {
  .dialogs {
    min-width: 100%;
  }

  .mobile_dialogs {
    display: none;
  }
}
