@import "../../core/styles/main.scss";

.chat {
  height: calc(100vh - 100px);
  max-height: 100%;
  width: 100%;
  background: $white;
  border: 1px solid $grey300;
  display: flex;
  margin-top: $mg-from-header;
  @include position(relative);
  overflow: hidden;
}

/* dialogs content */
.dialogs {
  height: 100%;
  min-width: 35%;
  background: $white;
  border-right: 1px solid $grey300;
  display: flex;
  flex-direction: column;
}

/* messages contet */
.messages {
  height: 100%;
  width: 100%;
}

/* default content */
.default_view_messages {
  height: 100%;
  @include ds-position(center, center, column);
}

.default_view_messages div {
  margin: 10px;
}

.wrapper_icon {
  border: 2px solid $black;
  border-radius: 50%;
  padding: 30px;
}

.icon {
  font-size: calc(35px + (37 - 35) * ((100vw - 300px) / (1600 - 300)));
}

.title {
  font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.subtitle {
  color: $grey800;
  text-align: center;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.wrapper_button button {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 7px 25px;
  cursor: pointer;
}

/* search input */
.wrapper_input {
  @include position(relative);
  @include ds-position(center, center, unset);
  border-bottom: 1px solid $grey300;
  transition: 1s;
}

.wrapper_input input {
  width: 100%;
  border: none;
  outline: none;
  padding: 15px $pd-content;
  transition: 1s;
}

.search_icon {
  color: $grey400;
  font-size: 13px;
  @include position(absolute, unset, 10px, unset unset);
  padding: 0 0 0 $pd-content;
}

/* media */
@include media-breakpoint-down("md") {
  .dialogs {
    min-width: 30%;
  }
}

@include media-breakpoint-down("sm") {
  .chat {
    height: calc(100vh - $ht-bottom-navigation + 100px);
  }

  .dialogs {
    min-width: 35%;
  }
}

@include media-breakpoint-down("s") {
  .dialogs {
    min-width: 100%;
  }

  .default_view_messages {
    display: none;
  }
}
