@import "../../../../core/styles/main.scss";

.posts {
  @include ds-position(unset, unset, column);
  row-gap: $pd-content;
}

.wrapper_input {
  background: $white;
  @include ds-position(unset, center);
  padding: $pd-content;
}

.input {
  width: 100%;
  border: 1px solid $grey300;
  outline: none;
  padding: 10px;
  cursor: pointer;
}
