@import "../../core/styles/main.scss";

/* common styles */
:root {
  --paddingForCoverAndDetailsTop: 7px;
  --paddingForCoverAndDetailsRight: 30px;
  --paddingForCoverAndDetailsBottom: 7px;
  --paddingForCoverAndDetailsLeft: 180px;
}

.profile {
  width: 100%;
  @include ds-position(unset, unset, column);
  margin-top: $mg-from-header;
}

/* media */
@include media-breakpoint-down("s") {
  :root {
    --paddingForCoverAndDetailsTop: 0;
    --paddingForCoverAndDetailsRight: 0;
    --paddingForCoverAndDetailsBottom: 0;
    --paddingForCoverAndDetailsLeft: 0;
  }
}
