/* common styles */
:root {
	--paddingForCoverAndDetailsTop: 7px;
	--paddingForCoverAndDetailsRight: 30px;
	--paddingForCoverAndDetailsBottom: 7px;
	--paddingForCoverAndDetailsLeft: 180px;
}

.profile {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin: var(--mgFromHeader) 0;
}
