@import "../../core/styles/main.scss";

// local vareables
$pdYCover: 7px;
$pdRightCover: 30px;
$pdLeftCover: 180px;

.profile {
  width: 100%;
  @include ds-position(unset, unset, column);
  row-gap: $mg-from-header;
}

/* media */
@include media-breakpoint-down("s") {
  $pdYCover: 0;
  $pdRightCover: 0;
  $pdLeftCover: 0;
}
