.comment {
	width: 100%;
	display: flex;
	flex: 1;
}

.description_modal {
	border-top: 1px solid var(--bgWhite220);
	border-bottom: 1px solid var(--bgWhite220);
	flex: 1;
	padding: var(--pdContent);
	overflow-y: scroll;
}

.description_modal::-webkit-scrollbar {
	width: 0;
}

.description {
	color: rgb(46, 46, 46);
	font-size: 15px;
	padding: 0 var(--pdContent) var(--pdContent) var(--pdContent);
}

.full_name_comment {
	color: black;
	text-decoration: none;
	font-weight: 500;
	margin-right: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.full_name_comment:hover {
	text-decoration: underline;
	transition: 0.5s;
}
