.information_container {
	width: 100%;
	color: rgb(39, 39, 39);
	background: white;
	font-size: 15px;
	box-sizing: border-box;
	display: flex;
	flex: 1;
	padding: var(--pdContent);
	margin-bottom: var(--mgBetweenContainers);
}

/* menu */
.menu {
	min-width: 30%;
	border-right: 1px solid #262626;
	padding-right: 5px;
}

.title {
	font-size: 17px;
	font-weight: 700;
	margin-bottom: 10px;
}

.navigation {
	display: flex;
	flex-direction: column;
}

.item {
	color: #8e8e8e;
	font-size: 18px;
	text-decoration: none;
	padding: 10px 0;
	transition: 0.5s;
}

.item_active {
	color: #262626;
	transition: border-top 1s;
}

/* content */
.content {
	flex: 1;
	padding-left: var(--pdContent);
}

/* media */
@media (max-width: 539.98px) {
	.information_container {
		margin-bottom: 0;
	}
}

@media (max-width: 399.98px) {
	.information_container {
		flex-direction: column;
		padding: 0;
	}

	/* menu */
	.menu {
		width: 100%;
		border-right: none;
		border-bottom: 1px solid #dbdbdb;
	}

	.title {
		display: none;
	}

	.navigation {
		flex-direction: row;
		flex: 1;
	}

	.item {
		flex: 1;
		text-align: center;
	}

	.item_active {
		border-bottom: 1px solid #262626;
	}

	/* content */
	.content {
		padding: var(--pdContent);
	}
}
