@import "../../../../core/styles/main.scss";

.comments {
  height: 100%;
  overflow-y: scroll;
  padding: $pd-content;
}

.comments::-webkit-scrollbar {
  width: 0;
}

.button_more {
  width: 100%;
  color: $grey500;
  background: none;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
