@import "../../../../core/styles/main.scss";

.wrapper_comments {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

.wrapper_comments::-webkit-scrollbar {
  width: 0;
}

// comments
.comments {
  padding: $pd-content;
}

// default content
.default_content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.button_more {
  width: 100%;
  color: $grey500;
  background: none;
  text-align: center;
  border: none;
  cursor: pointer;
  margin-bottom: 10px;
}
