.wrapper_post {
	height: 910px;
	max-height: 100%;
	width: 100%;
	background: white;
	flex-wrap: wrap;
	margin-bottom: 50px;
}

.post {
	height: 100%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
}

/* head */
.head {
	padding: var(--pdContent);
}

.wrapper_details {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.details_position {
	display: flex;
	align-items: center;
}

.wrapper_profile_img {
	margin-right: var(--pdContent);
}

.wrapper_profile_img > img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	display: flex;
}

.details {
}

.fullName {
	color: black;
	text-decoration: none;
	font-weight: 500;
}

.fullName:hover {
	text-decoration: underline;
}

.date {
	color: rgb(131, 131, 131);
	font-size: 13px;
}

.icon {
	color: var(--colorIcons);
	font-size: 25px;
	cursor: pointer;
}

.button_icon {
	padding: 0;
}

/* body */
.body {
	height: 100%;
	width: 100%;
	display: flex;
}

.bodyPhoto {
	height: 100%;
	width: 100%;
	display: flex;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* footer */
.footer {
}

.footer_head {
	padding: var(--pdContent) var(--pdContent) 0 var(--pdContent);
}

.features {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* border: 1px solid red; */
}

.features_left > .icon {
	margin: 0px 15px 0px 0px;
}

.features_left > .icon,
.features_right > .icon {
	padding: 0px;
}

.commentOwnerOfPost {
	color: rgb(46, 46, 46);
	font-size: 15px;
	padding: 0 var(--pdContent) var(--pdContent) var(--pdContent);
}

.full_name_comment {
	color: black;
	text-decoration: none;
	font-weight: 500;
	margin-right: 5px;
	cursor: pointer;
	transition: 0.5s;
}

.full_name_comment:hover {
	text-decoration: underline;
	transition: 0.5s;
}

/* number of likes */
.numberOfLikes {
	font-size: 15px;
	margin: 10px 0;
}

/* modal post actions */
.modalPostActions {
	width: 30vw;
	background: white;
	border-radius: var(--borderRadius);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper_item {
	display: flex;
	justify-content: center;
	padding: 15px;
	cursor: pointer;
}

.wrapper_item__border {
	border-bottom: 1px solid var(--bgWhite233);
}

.item {
	color: rgb(33, 33, 33);
	font-size: 15px;
}
