@import "../../../sass/main.scss";

.edit {
  height: calc(100vh - 100px);
  width: 100%;
  background: white;
  border: 1px solid rgb(208, 208, 208);
  display: flex;
  margin-top: $mg-from-header;
  overflow: hidden;
}

/* edit menu */
.edit_menu,
.edit_menu__none {
  min-width: 25%;
  border-right: 1px solid rgb(208, 208, 208);
  display: flex;
  flex-direction: column;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.edit_item {
  background: white;
  display: flex;
}

.item {
  width: 100%;
  color: #262626;
  font-size: 16px;
  text-decoration: none;
  border-left: 2px solid transparent;
  padding: 16px 16px 16px 30px;
  cursor: pointer;
}

.item:hover {
  background: $grey200;
}

.item_active {
  border-left-color: rgb(107, 107, 107);
  font-weight: 600;
}

/* edit content */
.edit_content {
  flex: 1;
  overflow-y: scroll;
}

/* form */
.form {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.wrapper_block {
  width: 100%;
  display: flex;
  margin-bottom: $pd-content;
}

.key {
  width: 40%;
  color: rgb(48, 48, 48);
  font-weight: 500;
  /* text-align: right; */
  margin-right: 10px;
}

.action {
  width: 100%;
  display: flex;
  justify-content: right;
}

.field {
  width: 100%;
  max-width: 100%;
  border: 1px solid silver;
  outline: none;
  padding: 7px 10px;
}

.wrapper_button {
  width: 70%;
  margin: auto;
}

.wrapper_button > div {
  cursor: no-drop;
}

.wrapper_button button {
  width: 100%;
  background: linear-gradient($hey-friend-style);
}

/* media */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* form */
  .form {
    width: 80%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 575.98px) {
  /* form */
  .form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .wrapper_block {
    display: flex;
    flex-direction: column;
  }

  .key {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 539.98px) {
  .edit {
    height: calc(100vh - $ht-bottom-navigation + 100px);
  }
}

@media (max-width: 399.98px) {
  .edit {
    flex-direction: column;
  }

  /* edit menu */
  .edit_menu {
    width: 100%;
  }

  .edit_menu__none {
    display: none;
  }

  .edit_item {
    text-align: center;
  }

  .item {
    border-bottom: 2px solid $grey400;
  }

  .item_active {
    border-left: none;
    border-bottom-color: rgb(107, 107, 107);
  }

  /* edit content */
  .edit_content {
  }
}
