@import "../../../../core/styles/main.scss";

.story {
  @include ds-position(unset, unset, column);
  margin: $pd-content;
  cursor: pointer;
  transition: 0.5s;
}

/* wrapper content */
.wrapper_content {
  height: 70px;
  width: 70px;
  display: flex;
  border: 1px solid $grey300;
  border-radius: 50%;
  transition: 1s;
}

.wrapper_content img {
  height: 100%;
  width: 100%;
  background: $yellow100;
  @include image-position(cover, center);
  border-radius: 50%;
  transform: scale(0.95);
  transition: 1s;
}

.wrapper_content img:hover {
  transform: scale(0.85);
  transition: 1s;
}

/* wrapper footer */
.wrapper_footer {
  @include ds-position(center);
  overflow: hidden;
  margin-top: 5px;
}

/* .wrapper_picture {
	display: flex;
}

.picture {
	height: 25px;
	width: 25px;
  @include image-position(cover, center);
	border-radius: 50%;
	margin-right: 5px;
} */

.fullName {
  font-size: 14px;
  // text-align: center;
}
