/* 		common wrapper container message */
.wrapper_container_message {
	width: 100%;
	display: flex;
	margin-bottom: 15px;
}

/* wrapper container my message */
.wrapper_container_myMessage {
	flex-direction: row-reverse;
	justify-content: flex-start;
}

/* wrapper container other message */
.wrapper_container_otherMessage {
	justify-content: flex-start;
}

/* 		common wrapper picture */
.wrapper_picture {
}

.wrapper_picture img {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	object-position: top;
	display: flex;
}

/* wrapper my picture */
.wrapper_myPicture {
	margin-left: 10px;
}

/* wrapper other picture */
.wrapper_otherPicture {
	margin-right: 10px;
}

/* 		common wrapper message */
.wrapper_message {
	display: flex;
	align-items: center;
	padding: 0 10px;
}

/* wrapper my message */
.wrapper_myMessage {
	background: white;
	border: 1px solid var(--bodyBackgroundOrDarkColor);
	border-radius: 20px 20px 0 20px;
}

/* wrapper other message */
.wrapper_otherMessage {
	background: var(--bodyBackgroundOrColor);
	border-radius: 20px 20px 20px 0px;
}
