@import "../../../../core/styles/main.scss";

.wrapper_messages,
.wrapper_messages_myMessage,
.wrapper_messages_otherMessage {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

/* wrapper container my message */
.wrapper_messages_myMessage {
  @include ds-position(flex-start, unset, row-reverse);
}

/* wrapper container other message */
.wrapper_messages_otherMessage {
  @include ds-position(flex-start);
}

/* 		common wrapper picture */
.wrapper_picture,
.wrapper_myPicture img,
.wrapper_otherPicture img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  @include image-position(cover, top);
  display: flex;
}

.wrapper_picture {
  @include position(sticky, 92%, unset, unset, unset);
}

.wrapper_myPicture {
  margin-left: 10px;
}

.wrapper_otherPicture {
  margin-right: 10px;
}

/* common wrapper message */
.wrapper_message {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.wrapper_message_myMessage {
  flex-direction: row-reverse;
}

.wrapper_message_content {
  max-width: 70%;
  @include position(relative);
  @include ds-position(unset, unset, column);
  row-gap: 10px;
}

.message {
}

.message,
.myMessage,
.otherMessage {
  word-break: break-all;
  @include ds-position(unset, center);
  padding: 10px 10px;
}

/* wrapper my message */
.myMessage {
  background: $grey300;
  border-radius: 20px 20px 0 20px;
}

/* wrapper other message */
.otherMessage {
  background: $white;
  border: 1px solid $grey400;
  border-radius: 20px 20px 20px 0px;
}

.message_date {
  color: $grey400;
  font-size: 12px;
}

.message_date_myMessage {
  text-align: end;
}

.message_date_otherMessage {
  text-align: start;
}

// sticker
.sticker {
  height: 120px;
  width: 120px;
}

// divider
.divider {
  margin: $pd-content 0;

  & > span > div {
    background-color: unset;
  }
}

// to display buttons when cursor is on hover
.wrapper_my_toggle_buttons {
  @include position(absolute, 50%, unset, unset, -50px);
  transform: translate(-50%, -50%);
}

.wrapper_other_toggle_buttons {
  @include position(absolute, 50%, -50px, unset, unset);
  transform: translate(50%, -50%);
}
