/* authorization */
.authorization {
	height: 380px;
	min-height: 100%;
	width: 70%;
	max-width: 100%;
	display: flex;
	margin: 100px auto;
}

.authorization_container {
	height: 100%;
	width: 100%;
	background: blue;
	display: flex;
	transition: 1s;
}

/* common form */
.form {
	height: 100%;
	/* background: thistle; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
