@import "../../core/styles/main.scss";

.authorization {
  width: 100%;
  @include ds-position(center, center);

  &_container {
    @include calc(width, "100% - 20%");
    display: flex;
    box-sizing: border-box;
    box-shadow: $grey900 0px 5px 15px;
  }
}

.form {
  height: 100%;
  @include ds-position(space-between, unset, column);
}

/* media */
@include media-breakpoint-down("md") {
  .authorization_container {
    @include calc(width, "100% - 40%");
    @include ds-position(unset, unset, column);
  }
}

@include media-breakpoint-down("sm") {
  .authorization_container {
    width: 100%;
    @include ds-position(unset, unset, column);
    box-shadow: unset;
  }
}
