.main {
	width: 100%;
	display: flex;
	flex: 1;
	margin-top: var(--mgFromHeader);
	/* margin: var(--mgFromHeader) 0; */
}

.main_content {
	width: 60%;
	margin-right: 20px;
}

.main_sideBar_right {
	display: flex;
	flex: 1;
	z-index: 10;
}

.sideBar_right_content {
	height: 80vh;
	width: 100%;
	position: sticky;
	top: 50px;
	overflow: hidden;
}

/* wrapper_item */
.wrapper_item {
}

/* default_content */
.default_content {
	/* background: cornflowerblue; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.default_content div {
	margin: 5px 0;
}

.default_content__wrapper_icon {
}

.default_content__wrapper_icon svg {
	color: rgb(24, 24, 24);
	font-size: 60px;
}

.default_content__title {
	font-size: 25px;
}

.default_content__subtitle {
	color: rgb(55, 55, 55);
	font-size: 17px;
	text-align: center;
}

/* media */
@media (max-width: 991.98px) {
	.main {
		display: flex;
		justify-content: center;
	}

	.main_content {
		width: 65%;
		margin: 0;
	}

	.main_sideBar_right {
		display: none;
	}
}

@media (max-width: 767.98px) {
	.main_content {
		width: 65%;
		margin: 0;
	}
}

@media (max-width: 575.98px) {
	.main_content {
		width: 100%;
	}
}
