.create_post {
	background: white;
	padding: var(--paddingForContent);
}

.icon {
	color: var(--colorIcons);
	background: rgb(238, 237, 237);
	border-radius: 50%;
	font-size: 16px;
	margin: 0 5px;
	cursor: pointer;
}

/* wrapper_body */
.wrapper_body {
	position: relative;
}

.wrapper_input {
	display: flex;
	align-items: center;
}

.input {
	width: 100%;
	border: 1px solid rgb(233, 232, 232);
	outline: none;
	padding: 10px 75px 10px 10px;
	cursor: pointer;
}

.features {
	display: flex;
	align-items: center;
	position: absolute;
	right: 10px;
}

.features_picture label {
}

.features_picture input {
	display: none;
}

/* wrapper content */
.wrapper_content {
	height: 250px;
	border: 1px solid var(--bodyBackgroundOrDarkColor);
}

.wrapper_add_picture {
	height: 100%;
}

.wrapper_add_picture label {
	height: 100%;
	width: 100%;
	/* background: teal; */
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.wrapper_add_picture input {
	display: none;
}

.post_img {
	height: 100%;
	width: 100%;
	display: flex;
	object-fit: cover;
	object-position: center;
}

/* form */
.form {
	width: 100%;
	display: flex;
}
