/* modal create post */
.create_new_post_container {
	min-width: 30vw;
	background: white;
	border-radius: var(--borderRadius, 10px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}

.create_new_post_content {
	height: 100%;
	width: 100%;
}

/* head */
.create_post_head {
	border-bottom: 1px solid var(--bgWhite233);
	display: flex;
	justify-content: space-between;
	padding: var(--pdContent);
}

.head_title {
	color: rgb(39, 39, 39);
	font-size: 18px;
	font-weight: 500;
}

.head_title__default {
	text-align: center;
	border-bottom: 1px solid var(--bgWhite233);
	padding: var(--pdContent);
}

.create_post_head button {
	text-transform: capitalize;
	padding: 0;
	margin: 0;
}

/* content */
.create_post_content {
	height: 65vh;
	width: 100%;
	display: flex;
}

/* content media */
.content_media {
	height: 100%;
	width: 30vw;
}

.content_media img {
	height: 100%;
	width: 100%;
	display: flex;
	object-fit: cover;
	object-position: center;
}

/* content wrapper content */
.content_wrapper_content {
	display: flex;
	flex: 1;
}

/* content default */
.create_post_content__default {
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.create_post_content__default div {
	margin: 10px 0;
}

.content_media_icon svg {
	color: rgb(75, 75, 75);
	font-size: 70px;
}

.content_subtitle {
	color: rgb(119, 119, 119);
	font-size: 17px;
}

.content_wrapper_button {
}

.content_button {
	background: linear-gradient(var(--mainBg));
	font-size: 15px;
	text-transform: capitalize;
	padding: 6px 30px;
}

.content_wrapper_button input {
	display: none;
}

/* form */
.form {
	width: 100%;
	display: flex;
}

.field {
	border: none;
	outline: none;
	resize: none;
}

/* temporary beta vershion */
.temporary_beta_vershion {
	box-sizing: border-box;
	overflow: hidden;
}

.temporary_beta_vershion_img {
	height: 130px;
	transform: rotate(45deg);
}
