/* wrapper over button */
.wrapper_button {
	width: 100%;
	border-radius: 10px;
}

.wrapper_button button {
	border: 1px solid silver;
	border-radius: 10px;
	outline: none;
	transition: 0.5s;
}

.wrapper_button button {
	width: 100%;
	color: white;
	padding: 10px 0;
	cursor: pointer;
	transition: 0.5s;
}

/* media */
@media (max-width: 767.98px) {
	.wrapper_button {
		margin-top: 15px;
	}
}
