@import "../../../core/styles/main.scss";

.wrapper_buttons {
  display: grid;
  row-gap: 10px;
}

.wrapper_button {
  width: 100%;

  & button {
    width: 100%;
    color: $white !important;
    background: linear-gradient($hey-friend-style) !important;
    text-transform: none !important;
    outline: none;
    padding: 10px 0;
    transition: 0.5s;
    cursor: pointer;
  }
}
