@import "../../../core/styles/main.scss";

.wrapper_buttons {
  display: grid;
  row-gap: 10px;
}

.wrapper_button {
  width: 100%;
  border-radius: $bd-radius;

  & button {
    width: 100%;
    color: $white !important;
    background: linear-gradient($hey-friend-style) !important;
    border-radius: $bd-radius;
    outline: none;
    padding: 10px 0;
    transition: 0.5s;
    cursor: pointer;
  }
}
