/* common */
.change_profile_picture_container,
.create_new_post_container,
.toggle_show_post_container {
	background: var(--bgBodyForToggleContainer);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

.change_profile_picture_content,
.create_new_post_content {
	background: white;
	border: 1px solid var(--bgWhite233);
	border-radius: var(--borderRadius);
}

/* change profile picture container */
.change_profile_picture_container {
}

.change_profile_picture_content {
	width: 30vw;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* title */
.title {
	color: rgb(38, 38, 38);
	font-weight: 500;
	font-size: 20px;
	padding: var(--pdContent) 0;
}

/* wrapper change picture */
.wrapper_change_picture {
	padding: 12px 0;
}

.wrapper_change_picture,
.wrapper_upload_picture {
	width: 100%;
	text-align: center;
	border-top: 1px solid var(--bgWhite233);
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.wrapper_upload_picture label {
	height: 100%;
	width: 100%;
	padding: 12px 0;
	cursor: pointer;
}

.wrapper_upload_picture input {
	display: none;
}

/* create new post container */
.create_new_post_container {
}

.create_new_post_content {
	width: 30vw;
	padding: var(--pdContent);
	position: relative;
}

/* title */
.create_post_title {
	color: rgb(39, 39, 39);
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	margin-bottom: 20px;
}

/* wrapper content */
.wrapper_content {
	height: 250px;
	border: 1px solid var(--bgWhite233);
	margin: 20px 0;
}

.wrapper_add_picture {
	height: 100%;
	position: relative;
}

.wrapper_add_picture label {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.wrapper_add_picture input {
	display: none;
}

.post_img {
	height: 100%;
	width: 100%;
	display: flex;
	object-fit: cover;
	object-position: center;
}

.icon {
	color: var(--colorIcons);
	font-size: 30px;
}

/* wrapper button delete */
.wrapper_button_delete {
	position: absolute;
	top: 0;
	right: 0;
}

/* wrapper button publish */
.wrapper_button_publish {
	transition: 1s;
}

.wrapper_button_publish button {
	width: 100%;
	color: white;
	background: linear-gradient(var(--mainBg));
	border: 1px solid silver;
	border-radius: var(--borderRadius);
	outline: none;
	padding: 10px 0;
	cursor: pointer;
	transition: 1s;
}

/* wrapper button close */
.wrapper_button_close {
}

.wrapper_button_close button,
.wrapper_button_delete button {
	font-size: 15px;
	border: 1px solid silver;
	border-radius: 50%;
	position: absolute;
	top: var(--pdContent);
	right: var(--pdContent);
	padding: 4px 9px;
	cursor: pointer;
	transition: 0.5s;
}

.wrapper_button_close button:hover,
.wrapper_button_delete button:hover {
	background: rgb(225, 225, 225);
	transition: 0.5s;
}

/* toggle show current post container */
.create_new_post_container {
}

.toggle_show_post_content {
	height: 500px;
	width: 75vw;
	background: white;
	display: flex;
	position: relative;
}

.postPhoto {
	width: 65%;
	margin: 0;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--pdContent);
}
