@import "../../core/styles/main.scss";

.change_profile_picture_container {
  width: 30vw;
  background: $white;
  border: 1px solid $grey400;
  border-radius: $bd-radius;
  outline: none;
  @include position(absolute, 50%, unset, unset, 50%);
  transform: translate(-50%, -50%);
}

.change_profile_picture_content {
  @include ds-position(unset, center, column);
}

.change_profile_picture_content button {
  color: $grey900;
  text-transform: none;
  border-top: 1px solid $grey400;
  border-radius: 0;
  padding: 12px 0;
}

/* title */
.title {
  color: $grey900;
  font-weight: 500;
  font-size: 20px;
  padding: $pd-content 0;
}

/* wrapper change picture */
.wrapper_item {
  height: 100%;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}

.wrapper_item:last-child {
  border-radius: 0 0 $bd-radius $bd-radius;
}

.wrapper_upload_picture {
  padding: 0 !important;
}

.wrapper_upload_picture label {
  height: 100%;
  width: 100%;
  padding: 12px 0;
  cursor: pointer;
}

.wrapper_upload_picture input {
  display: none;
}

/* modal current post container */
.modal_current_post_container {
  height: 500px;
  width: 75vw;
  background: $white;
  outline: none;
  @include position(absolute, 50%, unset, unset, 50%);
  transform: translate(-50%, -50%);
}

.wrapper_button_close {
  @include position(absolute, 0, 0);
}

.wrapper_button_close button {
  cursor: pointer;
}

/* return image list */
.posts {
  grid-template-columns: repeat(3, 1fr);
}

.posts,
.posts__columns {
  display: grid;
  gap: 15px;
  grid-auto-flow: dense;
}

.posts__columns {
  grid-template-columns: 1fr;
}

.wrapper_posts {
  height: 100%;
  display: grid;
}

.post {
  height: calc(100px + (300 - 50) * ((100vw - 300px) / (1600 - 300)));
  max-height: 300px;
  background: $green800;
  cursor: pointer;
}

.post:hover {
  opacity: 0.8;
}

.saved_default_title {
  display: contents;
  font-size: 18px;
  text-align: center;
}

/* default content images list */
.default_content_images_list {
  @include ds-position(center, center, column);
  margin-bottom: $mg-from-header;
}

.default_content_images_list div {
  margin: 5px 0;
}

.default_content_wrapper_icon {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.default_content_title {
  font-size: calc(16px + (28 - 20) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.default_content_subtitle,
.default_content_subSubTitle {
  color: $grey800;
  font-size: calc(12px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

/* media */
@include media-breakpoint-between("md", "l") {
  .change_profile_picture_container {
    width: 40vw;
  }
}

@include media-breakpoint-down("md") {
  /* return image list */
  .posts {
    gap: 5px !important;
  }
}

@include media-breakpoint-between("sm", "md") {
  .change_profile_picture_container {
    width: 50vw;
  }
}

@include media-breakpoint-down("sm") {
  /* return image list */
  .posts {
    margin-bottom: 0;
  }
}

@include media-breakpoint-between("s", "sm") {
  .change_profile_picture_container {
    width: 70vw;
  }
}

@include media-breakpoint-down("s") {
  .change_profile_picture_container {
    width: 80vw;
  }

  /* title */
  .title {
    text-align: center;
  }

  /* default content images list */
  .default_content_wrapper_icon {
    height: 300px;
  }
}
