.change_profile_picture_container {
	width: 30vw;
	background: white;
	border: 1px solid var(--bgWhite233);
	border-radius: var(--borderRadius);
	outline: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.change_profile_picture_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* title */
.title {
	color: rgb(38, 38, 38);
	font-weight: 500;
	font-size: 20px;
	padding: var(--pdContent);
}

/* wrapper change picture */
.wrapper_change_picture {
	padding: 12px 0;
}

.wrapper_change_picture,
.wrapper_upload_picture {
	width: 100%;
	text-align: center;
	border-top: 1px solid var(--bgWhite220);
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.wrapper_upload_picture label {
	height: 100%;
	width: 100%;
	padding: 12px 0;
	cursor: pointer;
}

.wrapper_upload_picture input {
	display: none;
}

/* modal current post container */
.modal_current_post_container {
	height: 500px;
	width: 75vw;
	background: white;
	outline: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.toggle_show_post_content {
	height: 100%;
	width: 100%;
	display: flex;
}

.postPhoto {
	height: 100%;
	width: 65%;
	margin: 0;
}

.content {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-between;
}

.wrapper_button_close {
	position: absolute;
	top: 0;
	right: 0;
}

.wrapper_button_close button {
	cursor: pointer;
}
