.change_profile_picture_container {
	width: 30vw;
	background: white;
	border: 1px solid var(--bgWhite233);
	border-radius: var(--borderRadius);
	outline: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.change_profile_picture_content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.change_profile_picture_content button {
	color: rgb(41, 41, 41);
	text-transform: none;
	border-top: 1px solid var(--bgWhite220);
	border-radius: 0;
	padding: 12px 0;
}

/* title */
.title {
	color: rgb(38, 38, 38);
	font-weight: 500;
	font-size: 20px;
	padding: var(--pdContent) 0;
}

/* wrapper change picture */
.wrapper_item {
	height: 100%;
	width: 100%;
	text-transform: capitalize;
	text-align: center;
}

.wrapper_item:last-child {
	border-radius: 0 0 var(--borderRadius) var(--borderRadius);
}

.wrapper_upload_picture {
	padding: 0 !important;
}

.wrapper_upload_picture label {
	height: 100%;
	width: 100%;
	padding: 12px 0;
	cursor: pointer;
}

.wrapper_upload_picture input {
	display: none;
}

/* modal current post container */
.modal_current_post_container {
	height: 500px;
	width: 75vw;
	background: white;
	outline: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.wrapper_button_close {
	position: absolute;
	top: 0;
	right: 0;
}

.wrapper_button_close button {
	cursor: pointer;
}

/* return image list */
.posts {
	/* background: red; */
	grid-template-columns: repeat(3, 1fr) !important;
	gap: 15px !important;
	grid-auto-flow: dense;
	margin: 0;
}

.wrapper_posts {
	height: 100%;
}

.post {
	height: calc(100px + (300 - 50) * ((100vw - 300px) / (1600 - 300)));
	max-height: 300px;
	background: green;
	cursor: pointer;
}

.post:hover {
	opacity: 0.8;
}

.saved_default_title {
	display: contents;
	font-size: 18px;
	text-align: center;
}

/* media */
@media (min-width: 768px) and (max-width: 991.98px) {
	.change_profile_picture_container {
		width: 40vw;
	}
}

@media (max-width: 767.98px) {
	/* return image list */
	.posts {
		gap: 5px !important;
	}
}

@media (min-width: 540px) and (max-width: 767.98px) {
	.change_profile_picture_container {
		width: 50vw;
	}
}

@media (min-width: 400px) and (max-width: 539.98px) {
	.change_profile_picture_container {
		width: 70vw;
	}
}

@media (max-width: 399.98px) {
	.change_profile_picture_container {
		width: 80vw;
	}

	/* title */
	.title {
		text-align: center;
	}
}
