// ** height
$ht-header: 55px;
$ht-bottom-navigation: 45px;

// ** space
$pd-content: 15px;
$mg-from-header: 20px;
$mg-between-contaner: 20px;

// ** border radius
$bd-radius: 10px;

// ** media queries
$breakpoints: (
  "xs": 0px,
  "s": 400px,
  "m": 480px,
  "sm": 576px,
  "xsm": 640px,
  "md": 768px,
  "l": 992px,
  "xl": 1248px,
  "xxl": 1440px,
);

// ** color
// >>   white   <<
:root {
  --white: #ffffff;
  --black: #000000;
  --grey100: #f5f5f5;
  --grey200: #eeeeee;
  --grey300: #e0e0e0;
  --grey400: #bdbdbd;
  --grey500: #9e9e9e;
  --grey600: #757575;
  --grey700: #616161;
  --grey800: #424242;
  --grey900: #212121;
}

$white: var(--white);
$black: var(--black);
$grey100: var(--grey100);
$grey200: var(--grey200);
$grey300: var(--grey300);
$grey400: var(--grey400);
$grey500: var(--grey500);
$grey600: var(--grey600);
$grey700: var(--grey700);
$grey800: var(--grey800);
$grey900: var(--grey900);
// $white: #ffffff;

// >>   black   <<
// $black: #000000;

// >>   grey   <<
$grey50: #fafafa;
// $grey100: #f5f5f5;
// $grey200: #eeeeee;
// $grey300: #e0e0e0;
// $grey400: #bdbdbd;
// $grey500: #9e9e9e;
// $grey600: #757575;
// $grey700: #616161;
// $grey800: #424242;
// $grey900: #212121;

// >>   red    <<
$red50: #ffebee;
$red100: #ffcdd2;
$red200: #ef9a9a;
$red300: #e57373;
$red400: #ef5350;
$red500: #f44336;
$red600: #e53935;
$red700: #d32f2f;
$red800: #c62828;
$red900: #b71c1c;

// >>   deepPurple  <<
$deepPurple50: #ede7f6;
$deepPurple100: #d1c4e9;
$deepPurple200: #b39ddb;
$deepPurple300: #9575cd;
$deepPurple400: #7e57c2;
$deepPurple500: #673ab7;
$deepPurple600: #5e35b1;
$deepPurple700: #512da8;
$deepPurple800: #4527a0;
$deepPurple900: #311b92;

// >>   indigo  <<
$indigo50: #e8eaf6;
$indigo100: #c5cae9;
$indigo200: #9fa8da;
$indigo300: #7986cb;
$indigo400: #5c6bc0;
$indigo500: #3f51b5;
$indigo600: #3949ab;
$indigo700: #303f9f;
$indigo800: #283593;
$indigo900: #1a237e;

// >>   blue    <<
$blue50: #e3f2fd;
$blue100: #bbdefb;
$blue200: #90caf9;
$blue300: #64b5f6;
$blue400: #42a5f5;
$blue500: #2196f3;
$blue600: #1e88e5;
$blue700: #1976d2;
$blue800: #1565c0;
$blue900: #0d47a1;

// >>   yellow  <<
$yellow50: #fffde7;
$yellow100: #fff9c4;
$yellow200: #fff59d;
$yellow300: #fff176;
$yellow400: #ffee58;
$yellow500: #ffeb3b;
$yellow600: #fdd835;
$yellow700: #fbc02d;
$yellow800: #f9a825;
$yellow900: #f57f17;

// >>   green   <<
$green50: #e8f5e9;
$green100: #c8e6c9;
$green200: #a5d6a7;
$green300: #81c784;
$green400: #66bb6a;
$green500: #4caf50;
$green600: #43a047;
$green700: #388e3c;
$green800: #2e7d32;
$green900: #1b5e20;

// >>   hey friend main style of the website    <<
$hey-friend-style: map-values(
  (
    "red300": $red300,
    "indigo300": $indigo300,
  )
);
