@import "../../../../core/styles/main.scss";

.change_password {
  @include ds-position(unset, center, column);
  box-sizing: border-box;
  padding: $pd-content;
}

.wrapper_profile_contact {
  @include ds-position(unset, center);
  margin-bottom: 15px;
}

.wrapper_picture {
  margin-right: $pd-content;
}

.wrapper_picture > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  @include image-position(cover, center);
}

.fullName {
  color: $black;
  font-weight: 500;
  font-size: 20px;
}

/* info for field */
.infoForField {
  color: $grey500;
  font-size: 13px;
  text-align: center;
}
