.change_password {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: var(--paddingForContent);
}

.wrapper_profile_contact {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.wrapper_picture {
	margin-right: var(--paddingForContent);
}

.wrapper_picture > img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-position: center;
	object-fit: cover;
}

.fullName {
	font-weight: 500;
	font-size: 20px;
}

/* form */
.form {
	display: flex;
	flex-direction: column;
}

.wrapper_block {
	/* background: red; */
	display: flex;
	margin-bottom: var(--paddingForContent);
}

.key {
	color: rgb(48, 48, 48);
	font-weight: 500;
}

.action {
	width: 100%;
	display: flex;
	justify-content: right;
}

.field {
	width: 350px;
	border: 1px solid silver;
	outline: none;
	padding: 7px 10px;
}

.wrapper_button {
	display: flex;
	justify-content: center;
}

.wrapper_button button {
	background: linear-gradient(var(--authorizationBackgroundOrColor));
	padding: 10px 100px;
	cursor: pointer;
}
