@import "../../../../core/styles/main.scss";

.navbar_list {
  height: 100%;
  display: flex;
  transition: 0.5s;
}

.navbar_list div {
  /* background: red; */
}

/* wrapper nav link */
.wrapper_nav_link {
  height: 100%;
  display: flex;
  @include position(relative);
  transition: 0.5s;
}

/* wrapper picture */
.wrapper_toggleList_picture {
  height: 100%;
}

.wrapper_toggleList_picture img {
  height: 100%;
  width: 35px;
  @include image-position(cover, center);
  border-radius: 50%;
}

/* full name */
.toggleList_fullName {
  color: black;
  text-decoration: none;
  margin: 0 7px;
}

/* menu */

.menu > div ul {
  min-width: 200px;
  background: white;
  @include position(absolute, unset, 0);
  border-radius: 3px;
  padding: 0px;
}

/* menu_item */
.menu > div ul li {
  width: 100%;
  padding-top: 9px;
  padding-bottom: 9px;
}

.menu_item {
}

.nav_linkList {
  font-size: 15px;
}

.nav_linkList svg {
  font-size: 21px;
}
