@import "../../../core/styles/main.scss";

.messages {
  height: 100%;
  @include position(relative);
  overflow-y: scroll;
}

.messages_content {
  // height: 100%;
  padding: $pd-content;
  @include ds-position(unset, unset, column);
}
