@import "../../../core/styles/main.scss";

.messages {
  height: 90%;
  display: flex;
  flex-direction: column;
  @include position(relative);
}

.messages_content {
  @include ds-position(unset, unset, column);
  flex: 1;
  padding: $pd-content;
  overflow-y: scroll;
}

/* form */
.form {
  display: flex;
  padding: $pd-content;
}

.form_content {
  display: flex;
  flex: 1;
  align-items: center;

  & > input,
  button {
    height: 100%;
  }
}
