@import "../../core/styles/main.scss";

$ht-media: 300px;

.head {
  height: 70px;
  max-height: 100%;
  border-bottom: 1px solid $grey300;
  @include ds-position(unset, center);
  /* padding: 0 20px; */
}

/* head dialogs */
.head_dialogs {
  @include ds-position(space-between, center);
  overflow: hidden;
}

.head_wrapper_picture {
  height: 100%;
}

.head_wrapper_picture img {
  height: 100%;
}

.head_dialogs_title {
  font-size: 25px;
  padding: 0 $pd-content;
}

/* head messages */
.head_messages {
  @include ds-position(space-between);
  padding: 0 $pd-content;
}

/* wrapper picture */
.wrapper_picture img {
  height: 85px;
  width: 85px;
  color: $white;
  font-size: 20px;
  border-radius: 50%;
  @include ds-position(center, center);
  margin-bottom: 5px;
}

/* icon */
.icon {
  color: $grey600;
  font-size: 25px;
  cursor: pointer;
  display: grid;
}

// conteiner of smiles
.conteiner_of_smiles > div > ul {
  height: 300px !important;
  display: grid !important;
  grid-template-columns: repeat(6, 1fr) !important;
  justify-items: center;
}

.smile_button {
}

// conteiner of message
.conteiner_of_message {
}

/* default content for chat when don't have id in path */
.default_view_messages {
  height: 100%;
  @include ds-position(center, center, column);
}

.default_view_messages div {
  margin: 10px;
}

.wrapper_icon {
  border: 2px solid $black;
  border-radius: 50%;
  padding: 30px;
}

.title {
  font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}

.subtitle {
  color: $grey800;
  text-align: center;
  font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
}

.wrapper_button button {
  font-size: calc(12px + (16 - 12) * ((100vw - 300px) / (1600 - 300)));
  padding: 7px 25px;
  cursor: pointer;
}

// chat detail | edit chat and more information
.chat_details {
  @include ds-position(center, center, column);
  flex: 1;
  padding: $pd-content;
  row-gap: 10px;
  overflow: hidden;
}

.media_title {
  font-size: 20px;
}

// head chat detail
.head_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail_wrapper_avatar {
}

.detail_avatar {
  height: 80px !important;
  width: 80px !important;
}

.detail_fullName {
  color: black;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.detail_status {
  text-align: center;
}

// body chat detail
.body_detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

.wrapper_participants {
}

.wrapper_details {
  display: flex;
  justify-content: center;
}

.wrapper_detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.detail_count {
}

.detail_title {
  color: $grey600;
}

.wrapper_medias {
  display: flex;
  flex-direction: column;
  flex: 1;
  box-sizing: border-box;
}

.media_content {
  display: flex;
  flex: 1;
  overflow-x: scroll;
  overflow-y: hidden;
  column-gap: 10px;
}

.wrapper_media {
  max-width: 30%;
  flex-shrink: 0;
  padding: $pd-content 0;
  box-sizing: border-box;
  display: flex;

  & img {
    height: 100%;
    width: 100%;
    @include image-position(cover, center);
  }
}

// footer chat detail
.footer_detail {
  width: 100%;
}

.footer_detail_button {
}

// container of message and media
.media_dialog {
  & > div > div {
    width: 500px;
    display: flex;
  }
}

// head
.dialog_title {
  display: flex;
  justify-content: center;
}

// body
.dialog_content {
  padding: 0 !important;
}

.media {
  height: $ht-media !important;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.stepper_button_back {
  color: white;
  position: absolute;
  top: calc(($ht-media / 2) - 24px);
  right: 0;
}

.stepper_button_next {
  color: white;
  position: absolute;
  top: calc(($ht-media / 2) - 24px);
  left: 0;
}

// container of creating group
.dialog_of_creating_group_title {
  text-align: center;
}

.dialog_of_creating_group_field_title {
  margin-bottom: $pd-content;
}

.dialog_of_creating_group_content {
  @include ds-position(unset, unset, column);
  flex: 1;
  padding: 0 !important;

  & > div {
    @include ds-position(center, center);
    flex: 1;
  }

  & > li {
    padding: $pd-content !important;
  }
}
