@import "../../core/styles/main.scss";

.head {
  height: 70px;
  max-height: 100%;
  border-bottom: 1px solid $grey300;
  @include ds-position(unset, center);
  /* padding: 0 20px; */
}

/* head dialogs */
.head_dialogs {
  @include ds-position(space-between, center);
  overflow: hidden;
}

.head_wrapper_picture {
  height: 100%;
}

.head_wrapper_picture img {
  height: 100%;
}

.head_dialogs_title {
  font-size: 25px;
  padding: 0 10px;
}

/* head messages */
.head_messages {
  @include ds-position(space-between);
  padding: 0 $pd-content;
}

/* wrapper picture */
.wrapper_picture img {
  height: 85px;
  width: 85px;
  color: $white;
  font-size: 20px;
  border-radius: 50%;
  @include ds-position(center, center);
  margin-bottom: 5px;
}

/* icon */
.icon {
  color: $grey600;
  font-size: 25px;
  cursor: pointer;
}
