.profile_info {
	margin-bottom: var(--mgFromHeader);
}

/* profile cover */
.profile_cover {
	height: 250px;
	max-height: 100%;
	/* background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
		url("https://cdn.substack.com/image/fetch/f_auto,q_auto:good,fl_progressive:steep/https%3A%2F%2Fbucketeer-e05bbc84-baa3-437e-9518-adb32be77984.s3.amazonaws.com%2Fpublic%2Fimages%2Fc0ee8c57-0789-439c-8fd2-704aa26b9a4a_4066x2711.jpeg"); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	display: flex;
	align-items: flex-end;
	position: relative;
}

/* profile cover line */
.profile_cover_line {
	width: 100%;
	padding: var(--paddingForCoverAndDetailsTop) var(--paddingForCoverAndDetailsRight) var(--paddingForCoverAndDetailsBottom)
		var(--paddingForCoverAndDetailsLeft);
}

.profile_fullName {
	color: white;
	font-size: 22px;
	font-weight: 700;
}

.profile_status {
	color: rgb(235, 235, 235);
	font-size: 15px;
}

/* wrapper change cover */
.wrapper_change_cover {
	/* background: red; */
	position: absolute;
	top: var(--pdContent);
	right: var(--pdContent);
}

.icon_change_cover {
	color: white;
	cursor: pointer;
}

/* profile info line */
.profile_info_line {
	background: white;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: var(--paddingForCoverAndDetailsTop) var(--paddingForCoverAndDetailsRight) var(--paddingForCoverAndDetailsBottom)
		var(--paddingForCoverAndDetailsLeft);
}

/* wrapper profile picture */
.wrapper_profilePicture,
.wrapper_profilePicture_active {
	border-radius: 50%;
	border: 1px solid var(--bgWhite233);
	display: inline-flex;
	position: absolute;
	left: var(--paddingForCoverAndDetailsRight);
	bottom: var(--paddingForCoverAndDetailsBottom);
	transition: 0.5s;
}

.wrapper_profilePicture img,
.wrapper_profilePicture_active img {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	transition: 0.5s;
}

.wrapper_profilePicture_active img {
	transform: scale(0.9);
	transition: 0.5s;
}

/* wrapper profile details info line */
.wrapper_profile_details_info_line {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.details_info_content {
	display: flex;
}

.details_info {
	text-align: center;
	font-size: 14px;
	margin-right: 70px;
}

.detail_number {
	font-weight: 500;
}

.detail_title {
	color: rgb(94, 94, 94);
	font-weight: 500;
}

/* wrapper_button */
.wrapper_button {
}

.wrapper_button button {
	color: white;
	background: linear-gradient(var(--mainBg));
	font-size: 14px;
	border: 1px solid silver;
	border-radius: var(--borderRadius);
	outline: none;
	padding: 5px 25px;
	margin-left: 20px;
	cursor: pointer;
}

.navLink_message {
	color: white;
	text-decoration: none;
}

.icon {
	font-size: 12px;
	margin-right: 7px;
}

/* 






 */

/* about me */
.profile_aboutMe {
	font-size: 14px;
	margin: 10px 0;
}

/* wrapper button for create new post */
.wrapper_button_createPost {
	margin: 20px 0;
}

.button_createPost {
	width: 100%;
	color: white;
	background: linear-gradient(var(--mainBg));
	border-radius: 6px;
	border: 1px solid silver;
	outline: none;
	font-size: 16px;
	padding: 10px 0;
	cursor: pointer;
}
