.profile_info {
	width: 25%;
	background: white;
	border: 1px solid rgb(230, 229, 229);
	padding: var(--paddingForMainContent);
}

/* 	picture */
.profile_picture {
	display: flex;
	justify-content: center;
	margin-top: 80px;
}

.wrapper_profilePicture,
.wrapper_profilePicture_active {
	border-radius: 50%;
	border: 1px solid var(--bodyBackgroundOrDarkColor);
	display: inline-flex;
	transition: 0.5s;
}

.wrapper_profilePicture img,
.wrapper_profilePicture_active img {
	height: 130px;
	width: 130px;
	border-radius: 50%;
	object-fit: cover;
	object-position: center;
	cursor: pointer;
	transition: 0.5s;
}

.wrapper_profilePicture_active img {
	transform: scale(0.9);
	transition: 0.5s;
}

/* full name */
.profile_fullName {
	font-size: 22px;
	text-align: center;
	font-weight: 700;
	opacity: 0.8;
	margin: 10px 0;
}

/* status */
.profile_status {
	color: rgb(107, 107, 107);
	text-align: center;
	font-size: 15px;
}

/* about me */
.profile_aboutMe {
	font-size: 14px;
	text-align: center;
	margin: 10px 0;
}

/* details info content */
.profile_details_info_content {
	display: flex;
	justify-content: space-around;
}

.details_info_content {
	text-align: center;
}

.detail_number {
	font-weight: 500;
}

.detail_title {
	color: rgb(94, 94, 94);
	font-weight: 500;
}

/* wrapper button message not for my profile */
.wrapper_button_message {
	margin-top: 20px;
}

.button_message {
	width: 100%;
	padding: 10px 0;
	cursor: pointer;
}

.navLink_message {
	color: black;
	text-decoration: none;
}

/* wrapper button for create new post */
.wrapper_button_createPost {
	margin: 20px 0;
}

.button_createPost {
	width: 100%;
	color: white;
	background: linear-gradient(var(--authorizationBackgroundOrColor));
	border-radius: 6px;
	border: 1px solid silver;
	outline: none;
	font-size: 16px;
	padding: 10px 0;
	cursor: pointer;
}
