@import "../../../core/styles/main.scss";
@import "../Profile.module.scss";

.profile_info {
}

/* profile cover */
.profile_cover {
  height: 250px;
  max-height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  @include ds-position(unset, flex-end);
  @include position(relative);
}

/* profile cover line */
.profile_cover_line {
  width: 100%;
  padding: $pdYCover $pdRightCover $pdYCover $pdLeftCover;
}

.profile_fullName {
  color: $white;
  font-size: 22px;
  font-weight: 700;
}

.profile_fullName__media {
  display: none;
}

.profile_status {
  color: $grey200;
  font-size: 15px;
}

.profile_status__media {
  display: none;
}

/* wrapper change cover */
.wrapper_change_cover {
  @include position(absolute, $pd-content, $pd-content);
}

.icon_change_cover {
  color: $white;
  cursor: pointer;
}

/* profile info line */
.profile_info_line {
  background: $white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  @include ds-position(space-between, center);
  @include position(relative);
  padding: $pdYCover $pdRightCover $pdYCover $pdLeftCover;
}

.wrapper_profilePicture__center,
.wrapper_profilePicture_active__center {
  border-radius: 50%;
  border: 5px solid $white;
  display: none;
  transition: 0.5s;
}

.wrapper_profilePicture,
.wrapper_profilePicture_active {
  border-radius: 50%;
  border: 1px solid $grey400;
  display: inline-flex;
  @include position(absolute, unset, unset, $pdYCover, $pdRightCover);
  transition: 0.5s;
}

.wrapper_profilePicture img,
.wrapper_profilePicture_active img,
.wrapper_profilePicture__center img,
.wrapper_profilePicture_active__center img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  @include image-position(cover, center);
  cursor: pointer;
  transition: 0.5s;
}

.wrapper_profilePicture_active img,
.wrapper_profilePicture_active__center img {
  transform: scale(0.9);
  transition: 0.5s;
}

/* wrapper profile details info line */
.wrapper_profile_details_info_line {
  width: 100%;
  @include ds-position(space-between, center);
}

.details_info_content {
  display: flex;
}

.details_info {
  text-align: center;
  font-size: 14px;
  margin-right: 40%;
}

.detail_number {
  color: $black;
  font-weight: 500;
}

.detail_title {
  color: $grey700;
  font-weight: 500;
}

/* wrapper_button */
.wrapper_button {
}

.wrapper_button button {
  color: $white;
  background: linear-gradient($hey-friend-style);
  font-size: 14px;
  border: 1px solid $grey400;
  border-radius: $bd-radius;
  outline: none;
  padding: 5px 25px;
  margin-left: 20px;
  cursor: pointer;
}

.navLink_message {
  color: $white;
  text-decoration: none;
}

.navLink_message button {
  text-transform: capitalize;
}

.button {
  @include position(relative);
}

.beta_vershion_picture {
  height: 100%;
  @include position(absolute, 0, unset, unset, 0);
}

.icon {
  font-size: 10px;
  margin-right: 7px;
}

/* about me */
.profile_aboutMe {
  font-size: 14px;
  margin: 10px 0;
}

/* wrapper button for create new post */
.wrapper_button_createPost {
  margin: 20px 0;
}

.button_createPost {
  width: 100%;
  color: $white;
  background: linear-gradient($hey-friend-style);
  border-radius: 6px;
  border: 1px solid $grey400;
  outline: none;
  font-size: 16px;
  padding: 10px 0;
  cursor: pointer;
}

/* media */
@include media-breakpoint-down("md") {
  .profile_cover {
    @include ds-position(center);
    @include position(relative);
  }

  .wrapper_profilePicture,
  .wrapper_profilePicture_active {
    display: none;
  }

  .wrapper_profilePicture__center,
  .wrapper_profilePicture_active__center {
    display: flex !important;
    @include position(absolute, unset, unset, -20px);
    z-index: 100;
  }

  .profile_cover_line {
    display: none;
  }

  .profile_fullName {
    display: none;
  }

  .profile_fullName__media {
    width: 100%;
    font-size: 23px;
    font-weight: 500;
    text-align: center;
    display: block;
    margin-top: 10px;
  }

  .profile_status {
    display: none;
  }

  .profile_status__media {
    width: 100%;
    display: block;
    text-align: center;
    border-bottom: 1px solid $grey400;
    padding-bottom: 10px;
    margin: 10px 0;
  }

  /* profile info line */
  .profile_info_line {
    padding: $pdYCover $pdRightCover;
  }

  .wrapper_profile_details_info_line {
    @include ds-position(unset, unset, column);
  }

  .details_info_content {
    width: 100%;
    @include ds-position(center);
  }

  .details_info {
    flex: 1;
    margin: 0;
  }

  /* wrapper_button */
  .wrapper_button button {
    margin: $pdYCover 10px;
  }
}

@include media-breakpoint-down("s") {
  .profile_info_line {
    padding: 15px 0;
  }

  .details_info {
    margin-bottom: 10px;
  }
}
