.chat {
	padding: 10px 20px;
}

.chat,
.chat_forHead {
	text-decoration: none;
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: 0.5s;
}

.chat:hover {
	background: var(--bodyBackgroundOrColor);
	transition: 0.5s;
}

.chat_active {
	background: var(--bodyBackgroundOrDarkColor);
	transition: 0.5s;
}

.wrapper_picture {
	margin-right: 10px;
}

.wrapper_picture .have_not_picture,
.have_not_picture_forHead {
	color: white;
	background: tomato;
	font-weight: bold;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.wrapper_picture .have_not_picture {
	height: 50px;
	width: 50px;
}

.wrapper_picture .have_not_picture_forHead {
	height: 40px;
	width: 40px;
	font-size: 13px;
}

/*  */
.login {
	color: black;
	font-size: 15px;
	/* font-size: 15px; */
}

.message {
	color: rgb(102, 102, 102);
	font-size: 15px;
}
