@import "../../../../core/styles/main.scss";

.chat,
.chat_forHead {
  text-decoration: none;
  @include ds-position(unset, center);
  cursor: pointer;
  transition: 0.5s;
}

.chat:hover {
  background: $grey200;
  transition: 0.5s;
}

.chat_active {
  background: $grey300;
  transition: 0.5s;
}

.chat_list_item {
  @include ds-position(unset, flex-start);
  column-gap: 10px;

  & > div {
    min-width: unset !important;
  }
}

@include media-breakpoint-down("sm") {
  .wrapper_list_item_text {
    display: none;
  }
}

@include media-breakpoint-down("s") {
  .wrapper_list_item_text {
    display: block;
  }
}
