@import "../../../core/styles/main.scss";

.stories {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  background: $white;
  margin-bottom: $mg-between-contaner;
}

.stories::-webkit-scrollbar {
  height: 0;
}
