@import "../../../core/styles/main.scss";

.stories {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  background: $green300;
  margin-bottom: 30px;
}

.stories:last-child {
  margin-right: 0;
}
