/* wrapper over input and textarea */
.wrapperInputAndTextarea {
	width: 100%;
	display: flex;
	justify-content: center;
	transition: 0.5s;
}

.wrapperInputAndTextarea input,
textarea {
	width: 100%;
}

.wrapperInputAndTextareaError input,
textarea {
	border: 1px solid var(--errorBackgroundOrColor);
	transition: 0.5s;
}

/* wrapper over field */
.wrapper_field {
	position: relative;
}

.field {
}

.wrapper_field_checkbox {
	display: flex;
}

.text_for_field {
	font-size: 13px;
	margin: 0 5px;
}

/* wrapper over button */
.wrapper_button {
	width: 100%;
	border-radius: 30px;
}

.wrapper_button button,
.field {
	background: rgb(237, 235, 235);
	border: 1px solid rgb(237, 235, 235);
	border-radius: 30px;
	outline: none;
	padding: 12px 15px;
	transition: 0.5s;
}

.wrapper_button button {
	width: 100%;
	color: white;
	background: linear-gradient(var(--authorizationBackgroundOrColor));
	border-radius: 30px;
	margin-top: 10px;
	cursor: pointer;
	transition: 0.5s;
}

.wrapper_button button:hover {
	color: black;
	border-radius: 30px;
	transition: 0.5s;
}

/* style for box error */
.block_error {
	color: var(--errorBackgroundOrColor);
	font-size: 13px;
	display: flex;
	justify-content: left;
	align-items: center;
}

.block_error svg {
	color: var(--errorBackgroundOrColor);
	margin: 0 5px 0 0;
}
