@import "../../../../core/styles/main.scss";

.edit_profile {
  @include ds-position(unset, center, column);
  box-sizing: border-box;
  padding: $pd-content;
}

.wrapper_profile_contact {
  @include ds-position(unset, center);
  margin-bottom: 15px;
}

.wrapper_picture {
  margin-right: $pd-content;
}

.wrapper_picture > img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-position: center;
  object-fit: cover;
  cursor: pointer;
}

.wrapper_info {
}

.fullName {
  font-weight: 500;
}

.change_picture {
  color: rgb(116, 116, 116);
  font-size: 14px;
  cursor: pointer;
}
