.edit_profile {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: var(--pdContent);
}

.wrapper_profile_contact {
	display: flex;
	align-items: center;
	margin-bottom: 15px;
}

.wrapper_picture {
	margin-right: var(--pdContent);
}

.wrapper_picture > img {
	height: 50px;
	width: 50px;
	border-radius: 50%;
	object-position: center;
	object-fit: cover;
	cursor: pointer;
}

.wrapper_info {
}

.fullName {
	font-weight: 500;
}

.change_picture {
	color: rgb(116, 116, 116);
	font-size: 14px;
	cursor: pointer;
}

/* form */
.form {
	width: 65%;
	display: flex;
	flex-direction: column;
}

.wrapper_block {
	width: 100%;
	/* background: red; */
	display: flex;
	margin-bottom: var(--pdContent);
}

.key {
	width: 40%;
	color: rgb(48, 48, 48);
	font-weight: 500;
	/* text-align: right; */
	margin-right: 10px;
}

.action {
	width: 100%;
	display: flex;
	justify-content: right;
}

.field {
	width: 100%;
	/* width: 350px; */
	max-width: 100%;
	border: 1px solid silver;
	outline: none;
	padding: 7px 10px;
}

.wrapper_button {
	width: 70%;
	margin: auto;
}

.wrapper_button button {
	width: 100%;
	background: linear-gradient(var(--mainBg));
	padding: 10px 100px;
	cursor: pointer;
}
