@import "./sass/main.scss";

.container_fluid__position {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;
}

/* paper for bottom navigation */
.container_fluid__paper {
  height: $ht-bottom-navigation;
  background: white;
  box-shadow: 0px -1px 10px rgb(209, 209, 209);
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
}

/* media */
@include media-breakpoint-up("sm") {
  .container_fluid__paper {
    display: none;
  }
}

@include media-breakpoint-down("sm") {
  .container_fluid__paper {
    display: block;
  }
}
