@import "./core/styles/main.scss";

// position for header
.container_fluid__position {
  @include position(fixed, 0, 0, unset, 0);
  z-index: 1000;
}

/* paper for bottom navigation */
.container_fluid__paper {
  height: $ht-bottom-navigation;
  background: $white;
  box-shadow: 0px -1px 10px $grey300;
  @include position(fixed, unset, 0, 0, 0);
  z-index: 1000;
}

// wrapper_loading
.gl_wrapper_loading {
  height: 100%;
  width: 100%;
  @include ds-position(center, center);
  flex: 1;

  & > span {
    color: $grey500 !important;
  }
}

/* media */
@include media-breakpoint-up("sm") {
  .container_fluid__paper {
    display: none;
  }
}

@include media-breakpoint-down("sm") {
  .container_fluid__paper {
    display: block;
  }
}
