body {
	height: 100vh;
	background: var(--backgroundBody);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
}

/* global removables */
:root {
	--backgroundBody: rgb(243, 243, 243);
	--backgroundBodyForShowContainer: rgba(0, 0, 0, 0.6);
	--authorizationBackgroundOrColor: #e66465, #9198e5;
	--bodyBackgroundOrColor: rgb(245, 245, 245);
	--bodyBackgroundOrDarkColor: rgb(233, 233, 233);
	--errorBackgroundOrColor: #d93025;
	--borderRadius: 10px;
	--colorIcons: rgb(136, 136, 136);
	--paddingForMainContent: 15px;
	--marginFromHeader: 20px;
	--marginBetweenProfileContainers: 20px;
	--paddingForContent: 15px;
}

/* global class */
.container {
	width: 1140px;
	max-width: 100%;
	/* background: cornflowerblue; */
	display: flex;
	margin: 0 auto;
}

.container_fluid {
	width: 100%;
}
