@import "../../../core/styles/main.scss";

/* dialogs */
.dialogs {
  // height: 80%;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
}

// if dialogs don't have
.chats_wrapper_text {
  height: 100%;
  @include ds-position(center, center, column);
  text-align: center;
}

.chats_wrapper_title {
  font-size: calc(20px + (25 - 20) * ((100vw - 300px) / (1600 - 300)));
}

.chats_wrapper_subtitle {
  color: $grey800;
  font-size: calc(14px + (15 - 12) * ((100vw - 300px) / (1600 - 300)));
  text-align: center;
}
