.dialogs {
	height: 100%;
	display: flex;
	flex-direction: column;
}

/* title */
.title {
	font-size: 18px;
	font-weight: 600;
}

/* wrapper_input */
.wrapper_input {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgb(230, 229, 229);
	transition: 1s;
}

.wrapper_input input {
	width: 100%;
	border: none;
	outline: none;
	padding: 15px 10px 15px 35px;
	transition: 1s;
}

.search_icon {
	color: rgb(192, 191, 191);
	font-size: 13px;
	position: absolute;
	left: 0;
	padding: 0 0 0 13px;
}

/* chats */
.chats {
	flex: 1;
	overflow: hidden;
}

.chats_wrapper_text {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	/* color: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
}

.chats_wrapper_text img {
	height: 30px;
	width: 100%;
}

/* 

.chats_wrapper_title {
	font-size: 30px;
}

.chats_wrapper_subtitle {
	font-size: 20px;
} */
