.dialogs {
}

/* title */
.title {
	font-size: 18px;
	font-weight: 600;
}

/* wrapper_input */
.wrapper_input {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid rgb(230, 229, 229);
	/* padding: 10px 20px; */
	transition: 1s;
}

.wrapper_input input {
	width: 100%;
	/* background: var(--bodyBackgroundOrColor); */
	border: none;
	outline: none;
	padding: 15px 10px 15px 35px;
	transition: 1s;
}

.search_icon {
	color: rgb(192, 191, 191);
	font-size: 13px;
	position: absolute;
	left: 0;
	padding: 0 0 0 13px;
}

/* chats */
.chats {
}
