.navbar {
	height: 100%;
	background: green;
	display: flex;
}

.navbar_content {
	height: 100%;
	display: flex;
	align-items: center;
	position: relative;
	transition: 0.5s;
}

/* wrapper nav link */
.wrapper_nav_link {
	height: 100%;
	display: flex;
	transition: 0.5s;
}

.nav_link {
	padding: 0 8px;
}

.nav_link,
.nav_link_profileList {
	color: black;
	border-radius: 30px;
	text-decoration: none;
	border: 1px solid transparent;
	display: flex;
	align-items: center;
	margin: 0 0 0 10px;
	transition: 0.5s;
}

.nav_link_active {
	background: rgb(229, 231, 232);
	border: 1px solid rgb(201, 201, 201);
	border-radius: 30px;
	transition: 0.5s;
}

/* nav link profileList */
.nav_link_profileList {
	cursor: pointer;
}

.wrapper_profileList_picture {
	height: 100%;
}

.wrapper_profileList_picture img {
	height: 100%;
	width: 35px;
	object-fit: cover;
	object-position: center;
	border-radius: 50%;
}

.profile_login {
	color: black;
	text-decoration: none;
	margin: 0 7px;
}

/* icon */
.icon {
	color: rgb(192, 191, 191);
	font-size: 18px;
	transition: 0.5s;
}

/* toggle list profile (onClick) */
.toggleListProfile {
	height: 100px;
	width: 100%;
	background: red;
	border-radius: 7px;
	position: absolute;
	top: 45px;
	right: -20px;
	padding: 10px;
}
