@import "../../../core/styles/main.scss";

/* common styles */
.nav_linkRow_active,
.nav_link_toggleList_active {
  cursor: pointer;
}

.nav_link_toggleList {
  font-size: 15px !important;
  padding: 0px;
  cursor: pointer;
}

.nav_link_toggleList > span {
  color: $black !important;
}

.common_nav_linkRow,
.common_nav_linkList,
.nav_link_toggleList,
.nav_link_toggleList_active {
  color: $black;
  text-decoration: none;
  border: 1px solid transparent;
  @include ds-position(unset, center);
  transition: 0.5s;
}

.nav_linkRow_active,
.nav_link_toggleList_active {
  background: $grey300;
  transition: 0.5s;
}

/* icon */
.icon {
  color: $grey600;
  font-size: 20px !important;
  transition: 0.5s;
}
