.navbar {
	display: flex;
	transition: 0.5s;
}

.wrapper_nav_link {
	display: flex;
	align-items: center;
}

.nav_link {
	margin: 0 0 0 15px;
	transition: 0.5s;
}

.nav_link img {
	height: 30px;
	width: 30px;
	object-fit: cover;
	object-position: center;
	border-radius: 20%;
}

.nav_link_active {
	color: rgb(162, 22, 22);
	transition: 0.5s;
}

/* icon */
.icon {
	color: black;
	font-size: 18px;
}
