@import "../../../sass/main.scss";

/* common styles */
.nav_linkRow_active,
.nav_link_toggleList_active {
  cursor: pointer;
}

.nav_link_toggleList {
  padding: 0px;
  cursor: pointer;
}

.common_nav_linkRow,
.common_nav_linkList,
.nav_link_toggleList,
.nav_link_toggleList_active {
  color: black;
  text-decoration: none;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  transition: 0.5s;
}

.nav_linkRow_active,
.nav_link_toggleList_active {
  background: $grey300;
  transition: 0.5s;
}

/* icon */
.icon {
  color: $grey600;
  font-size: 18px;
  transition: 0.5s;
}
