@import "../../../../../../core/styles/main.scss";

// timeline
.timeline {
  padding: 0 !important;
  margin: 0 !important;
}

.timeline_item::before {
  content: "" !important;
  flex: unset !important;
  padding: 0 !important;
}

// separator
.timeline_separator {
  & > a {
    margin-bottom: 10px;
  }
}

// content
.timeline_content {
  padding: (0 0 0 $pd-content) !important;

  & > div {
    margin: 0 !important;
  }
}
